---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, YEARS_SINCE_DEV } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <!-- Hotjar Tracking Code for https://orvik.dev/ -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 3657431, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Hello!</h1>
      <p>
        I'm Alex, and welcome to my space. You can expect things. Not big
        things, but things.
      </p>
      <p>
        I've been in the web development scene for roughly {YEARS_SINCE_DEV} years.
        Before getting into web I had some introductory CS courses in college, but
        things didn't really click before jumping on a django-based web project at
        a volunteer group at the student society at my college. Since then I've finished
        my degree and now I work as an IT-consultant and need something to do in
        my spare time.
      </p>

      <p>Stay tuned.</p>
    </main>
    <Footer />
  </body>
</html>
